* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5dafb8;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 100vh;
  width: 100vw;
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0, 0, 0, 0.3);
}

.product-canvas {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  background-color: #6cc2ce;
  box-shadow: 10px 15px 15px 6px #3891b4;
  border-radius: 0px;
}
