* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5dafb8;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 100vh;
  width: 100vw;
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0, 0, 0, 0.3);
}

.product-canvas {
  width: 100vw;
  height: 100vh;
  background-color: #6cc2ce;
  box-shadow: 10px 15px 15px 6px #3891b4;
  border-radius: 0px;
}
.canvas {
  background-image: url('bgimg.webp');
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-clip: border-box;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.controls-container {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
}
.input-group {
  display: flex;
  justify-items: flex-start;
  align-content: center;
  font-size: 1rem;
}

input[type='range'] {
  cursor: pointer;
  margin-right: 0.5rem;
}

label {
  margin-right: 0.5rem;
}
